@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
}

.tpl {
  font-family: "Roboto";
  color: #000000;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-size: 16px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tpl .tpl-btn {
  min-width: 170px;
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 15px;
  border: none;
}

.tpl .tpl-btn_green {
  background: -o-linear-gradient(357.08deg, #1ED372 0%, #16C8D3 100%);
  background: linear-gradient(92.92deg, #1ED372 0%, #16C8D3 100%);
  -webkit-box-shadow: 0px 6px 22px rgba(0, 206, 106, 0.35);
          box-shadow: 0px 6px 22px rgba(0, 206, 106, 0.35);
  color: #FFFFFF;
}

.tpl .tpl-btn_green:hover {
  -webkit-box-shadow: 0px 8px 21px rgba(30, 211, 114, 0.6);
          box-shadow: 0px 8px 21px rgba(30, 211, 114, 0.6);
}

.tpl .tpl-btn_grey {
  border: 1px solid #A3A5B1;
  color: #A3A5B1;
}

.tpl .tpl-btn_grey:hover {
  border: 1px solid #484E63;
  color: #484E63;
}

.tpl .tpl-btn_blue {
  border: 1px solid #1A87D8;
  color: #1A87D8;
}

.tpl .tpl-btn_blue:hover {
  border: 1px solid #74CEEB;
  color: #74CEEB;
}

.tpl .tpl-btn_supmin {
  width: 170px;
}

.tpl .tpl-btn_min {
  width: 230px;
}

.tpl .tpl-btn_mid {
  width: 270px;
}

.tpl .tpl-btn_max {
  width: 370px;
}

.tpl .tpl-btn_mega {
  width: 100%;
  max-width: 100%;
}

.tpl .tpl-header {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(10, 20, 116, 0.05);
          box-shadow: 0px 4px 8px rgba(10, 20, 116, 0.05);
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 15px;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tpl .tpl-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.tpl .tpl-header__title {
  margin: 0 15px;
  color: #1A87D8;
}

.tpl .tpl-header__title * {
  margin: 0;
  padding: 0;
}

.tpl .tpl-header__icon {
  display: none;
}

.tpl .tpl-header .phone-support {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #A3A5B1;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.tpl .tpl-header .phone-support:hover {
  text-decoration: underline;
}

.tpl .tpl-footer {
  background-color: #3B4050;
  padding: 56px 15px;
  color: #FFFFFF;
}

.tpl .tpl-footer__block {
  padding: 24px 0;
  font-size: 12px;
  line-height: 160%;
}

.tpl .tpl-footer__block > * {
  margin: 0;
}

.tpl .tpl-footer__block p:not(:last-child) {
  margin-bottom: 10px;
}

.tpl .tpl-footer__block ul,
.tpl .tpl-footer__block ol {
  padding-left: 20px;
}

.tpl .tpl-footer__block_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.tpl .tpl-footer__block_link {
  display: block;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #1A87D8;
}

.tpl .tpl-footer__block_urinfo {
  padding-top: 0;
}

.tpl .tpl-footer__block_urinfo,
.tpl .tpl-footer__block_doc,
.tpl .tpl-footer__block_info {
  border-bottom: 1px solid #484E63;
}

.tpl .tpl-footer__block_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.tpl .tpl-footer__block_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 55px;
  background-color: #FFFFFF;
  padding: 5px 6px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tpl .tpl-footer__block_card:not(:last-child) {
  margin-right: 24px;
}

.tpl .tpl-footer__block_card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tpl .tpl-logo {
  max-height: 35px;
  max-width: 260px;
  width: 100%;
  height: auto;
}

.tpl .tpl-logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tpl section {
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.tpl > * {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.tpl h1,
.tpl .h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 120%;
  color: #000000;
}

.tpl h2,
.tpl .h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
}

.tpl-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.tpl-cont {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 769px) {
  .tpl .tpl-header__title {
    display: none;
  }

  .tpl .tpl-header__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .tpl .tpl-header__support {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .tpl .tpl-btn {
    width: 100%;
  }

  .tpl .tpl-header {
    min-height: 60px;
    padding: 5px 15px;
  }

  .tpl .tpl-header__wrapper {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .tpl .tpl-footer {
    padding-top: 47px;
  }

  .tpl .tpl-footer__block_card:not(:last-child) {
    margin-right: 16px;
  }

  .tpl h1,
  .tpl .h1 {
    font-size: 30px;
  }

  .tpl h2,
  .tpl .h2 {
    font-size: 24px;
  }
}